# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs (will be mounted as volume)
logs/
*.log

# test
test/

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
*.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Dependencies
node_modules/